.card-view {
    margin-top: 70px;
    border: rgb(73, 73, 233) 1px solid;
    border-radius: 0.8rem;
    width: 450px;
    padding: 1rem;
    background-color:rgba(62, 62, 223, 0.473);
    box-shadow: 0 0 1rem #00000060;
}

.card-all{
    margin-top: 60px;
}

.Alta {
    background-color: rgba(243, 123, 123, 0.932);
}
.Média {
    background-color: rgba(255, 127, 80, 0.836);
}
.Baixa {
    background-color: rgba(100, 148, 237, 0.856);
}

.card-title {
    border-bottom: darkblue 1px solid;  
    padding-bottom: 20px;
    font-size: 1rem;
}

.card-text-view {
    margin: 20px 0 20px 0;
    border-bottom: darkblue 1px solid; 
    padding-bottom: 30px;
    font-weight: 600;
    line-height: 1.2;
}

.icons-view {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.card-view h6 {
    font-size: 1.5rem;
}

.text-dark {
    font-size: 0.8rem;
}

.edit-del {
    display: flex;
    align-items: center;
    float: right;
    margin-top: -10px;
}

.editar:hover {
    transform: scale(1.1);
}
.delete:hover {
    transform: scale(1.1);
}
.voltar:hover {
    transform: scale(1.1);
}

.title-view {
    text-align: center;
    padding: 0.5rem;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 0.5rem;
    width: 450px;  
}

.title-view h2 {
    font-size: 2rem;
    color: rgb(31, 29, 29);
}

.card-view {
    margin: auto;
}

.data-criacao {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    text-align: center;
    margin: 0;
}

.data-criacao h5 {
    font-size: 0.8rem;
    font-weight: 700;
    float: left;
    margin: 0;
}

.data-criacao h2 {
    font-size: 0.8rem;
    margin: 0;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    pointer-events: auto;
    background-color: rgb(202, 205, 207);
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0.3rem;
    outline: 0;
    margin: auto;
}

.modal-body {
    text-align: center;
    font-size: 1.2rem;
}

.modal-footer {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    padding: 0.75rem;
    border-top: 1px solid #2e649b;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
}