.card-body {
    border: rgb(73, 73, 233) 1px solid;
    border-radius: 0.8rem;
    width: auto;
}

button {
    background-color: transparent;
    border: none;
}
.linkk {
    text-decoration: none;
    color: inherit;
}

.linkk:hover {
    color: none;
}